<br />
<div class="d-flex justify-content-center font-weight-bold">
  <a class="btn btn-warning text-dark p-3 pb-0">
    <h1><strong>MiDB</strong></h1>
  </a>
</div>
<div class="container mt-4 w-50 p-2 card-bg-secondary rounded font-weight-bold text-white">
  <h2 class="text-info text-center">Register</h2>
  <form class="form-inline" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="">Username</label>
      <input autocomplete="off" type="text" class="form-control" formControlName="username" />
      <div class="alert font-weight-bold"
        *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">
        <span *ngIf="form.get('username')?.errors?.required" class="text-danger">
          Username is required
        </span>
        <span class="text-danger" *ngIf="form.get('username')?.errors?.pattern">
          Your username is not in correct format
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input autocomplete="off" type="email" class="form-control" formControlName="email" />
      <div class="alert font-weight-bold"
        *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
        <span class="text-danger" *ngIf="form.get('email')?.errors?.required">
          Email is required
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input autocomplete="off" type="password" class="form-control" formControlName="password" />
      <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)"
        class="alert">
        <span class="text-danger" *ngIf="form.get('password')?.errors?.required">
          Password is required
        </span>
      </div>
    </div>
    <br>
    <input type="submit" value="Register" class="btn btn-primary form-control">
  </form>
  <div class="d-flex justify-content-between mt-2 mb-2">
    <a class="btn btn-secondary" href="/">Home</a>
    <a class="btn btn-info" [routerLink]="['/login']">Login</a>
  </div>
</div>